.uk2euro-price {
    position: relative;
}

.uk2euro-tooltip {
    visibility: hidden;
    position: absolute;
    top:0;
    left: 5px;
}

.uk2euro-price:hover .uk2euro-tooltip {
    visibility: visible;
}

.uk2euro-price:hover
{
    visibility: hidden;
}